*{
    margin: 0;
    padding: 0;
}
.nav-link{
    color: white;
    margin-left: 150px;
    text-decoration: none;
}
.nav-link:hover{
    color: rgb(206, 163, 106);
    text-decoration:underline;
}
.img img{
    width: 350px;
    height: 280px;
    border: none;
    border-radius: 150px;
}
    header .btn{
    background-color: rgb(206, 163, 106);
    margin-top: 30px;
    width: 130px;
    height: 40px;
    
}

.section2{
  background-color: beige;
  padding: 50px 0;
}
#skills{
display: flex;
justify-content: center;
}
.skills{
    margin: 0 auto;
}
.about{
    object-fit: cover;
    background-color: beige ;
}
.about div{

    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgb(206, 163, 106) 2px 1px 1px;
}
.about div h2{
    color:rgb(206, 163, 106) ;
    margin-bottom: 30px;
}

.skils span{
    font-weight: bold;
}

.about button{
   background-color: rgb(206, 163, 106);
    margin-top: 30px;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.about button:hover{
    background-color: beige;
}
.about a{
    text-decoration: none;
    color: white;
}

















.section1 b{
    color: rgb(206, 163, 106);
    font-size: 20px;
}
.section1 p{
    padding: 15px;
    border: none;
    
    box-shadow: 0.5px 0.5px 2px gray;
}
.section1 p:hover{
    transform: scale(1.02);
}
.progress{
    background-color: beige;
    width: 350px;
    height: 15px;
}
.html{
    background-color: rgb(206, 163, 106);
    width: 95%;
}
.css{
    background-color: rgb(206, 163, 106);
    width: 95%;
}.js{
    background-color: rgb(206, 163, 106);
    width: 85%;
}.bootstrap{
    background-color: rgb(206, 163, 106);
    width: 90%;
}
.prsent{
    margin-left: 250px;
}
.section2 .row{
    margin: auto;
}





.projects{
    padding:100px 30px;
}

.photos div{
    width: 400px;
    height:500px;
    background-color: beige;
    text-align: center;
    border: none;
    border-radius: 10px;
   
}
.photos div button{
    border: none;
    border-radius: 10px;
    background-color: rgb(206, 163, 106) ;
    width: 75px;
    height: 30px;
    margin-left: 5px;
    color: white;
}
.photos div a{
text-decoration: none;
/* display: inline-block; */
border-radius: 10px;
background-color: rgb(15, 167, 15);
color: white;
padding: 10px;
}
.photos div a:hover{
    background-color: beige;
    color: black;
    
}

.photos div  img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}
.photos div  img:hover{
    transform: scale(1.01);
}







footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
footer h2{
   margin-bottom: 30px;
}
footer a{
    color: white;
    margin: 10px;
    font-size: 20px;
}
footer a:hover{
    color:  rgb(206, 163, 106) ;
}