*{
    margin: 0;
    padding: 0;
}
header{
    background:  url(../img/ChatGPT\ Image\ Dec\ 18\,\ 2025\,\ 06_13_36\ AM.png);
    height: 80vh;
    object-fit: cover;
    background-position: center ;
}
@media(max-width:550px
){
    header{
       background-position:center top ; 
    }
}
nav{
   box-shadow: rgba(255, 255, 255, 0.61) 0px 3px 2px;
}
nav a{
    color: white;
    text-decoration: none;
}
.nav-link{
    color: white;
    margin-left: 150px;
    text-decoration: none;
    font-size: 17px;
}
.nav-link:hover{
    color: rgb(206, 163, 106);
    text-decoration:underline;
}

    header .btn{
    background-color: rgb(206, 163, 106);
    margin-top: 30px;
    width: 130px;
    height: 40px;
    font-size: 17px;
    
}
.img div{
    position: absolute;
    top: 25%;
}
.img p{
    font-weight: bold;
    word-spacing: 5px;
    font-size: 20px;
}
.section2{
  background-color: beige;
  padding: 50px 0;
  background: linear-gradient(rgba(255, 255, 255, 0.747)), url(../img/ChatGPT\ Image\ Dec\ 18\,\ 2025\,\ 06_29_33\ AM.png);
  object-fit: cover;
  
}
.soft-skils i{
 font-size: 30px;
 margin-right: 15px;
}
.soft-skils{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2pxpx;
}

.skills span{
    font-size: 20px;
}
.team{
    color: #1572B6;
}
.problem{
    color: #F7DF1E;
}
.critical{
    color: #4CAF50;
}
.time{
    color:#F05032 ;
}
.about{
    object-fit: cover;
    background-color: beige ;
}
.about div{

    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgb(206, 163, 106) 2px 1px 1px;
}
.about div h2{
    color:rgb(206, 163, 106) ;
    margin-bottom: 30px;
}

.skills span {
    font-weight: bold;
}
.skills span i{
    font-size: 35px;
    
}
#html{
    color: #E34F26;
}
#css{
    color: #1572B6;
}
#js{
    color: #F7DF1E;
}
#boot{
    color: #7952B3;
}
#git{
    color: #F05032;
}
.about button{
   background-color: rgb(206, 163, 106);
    margin-top: 30px;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
}
.about button:hover{
    background-color: beige;
}
.about a{
    text-decoration: none;
    color: white;
}

















.section1 b{
    color: rgb(206, 163, 106);
    font-size: 20px;
}
.section1 p{
    padding: 15px;
    border: none;
    
    box-shadow: 0.5px 0.5px 2px gray;
}
.section1 p:hover{
    transform: scale(1.02);
}
.progress{
    background-color: beige;
    width: 350px;
    height: 15px;
}
.html{
    background-color: rgb(206, 163, 106);
    width: 95%;
}
.css{
    background-color: rgb(206, 163, 106);
    width: 95%;
}.js{
    background-color: rgb(206, 163, 106);
    width: 85%;
}.bootstrap{
    background-color: rgb(206, 163, 106);
    width: 90%;
}
.prsent{
    margin-left: 250px;
}
.section2 .row{
    margin: auto;
}





.projects{
    padding:100px 30px;
   
}

.photos div{
    width: 295px;
    height:530px;
    background-color: beige;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow:  rgba(206, 163, 106, 0.712) 4px 2px 2px;
}
.photos div p{
    font-weight: bolder;
    margin-top: 10px;
}
.photos div button{
    border: none;
    border-radius: 10px;
    background-color: rgb(206, 163, 106) ;
    padding: 7px;
    margin-left: 5px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.photos div a{
text-decoration: none;
border-radius: 10px;
background-color: rgb(15, 167, 15);
color: white;
padding: 10px;
font-weight: 600;
}


.photos div  img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}








footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
footer h2{
   margin-bottom: 30px;
}
footer a{
    color: white;
    margin: 10px;
    font-size: 20px;
}
footer a:hover{
    color:  rgb(206, 163, 106) ;
}
